body {
  position: absolute;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;

  background: #a2bce3;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-bar {
  position: absolute;
  width: 1430px;
  height: 70px;
  left: 0px;
  top: -10px;
  background: #7aa0cd;
}

.bienvenida {
  position: absolute;
  width: 432px;
  height: 48px;
  left: -20px;
  top: 18px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  padding-left: 30px;

}

.btn-capturar {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 850px;
  top: 21px;

  background: #917de0;
  border-radius: 10px;
  border: 0;
}

.lbl-capturar {
  position: absolute;
  width: 216px;
  height: 48px;
  left: -35px;
  top: -24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.btn-depositar {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 1050px;
  top: 21px;

  background: #7d61ed;
  border-radius: 10px;
  border: 0;
}

.lbl-deposito {
  position: absolute;
  width: 216px;
  height: 48px;
  left: -35px;
  top: -24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.btn-salir {
  position: absolute;
  width: 150px;
  height: 40px;
  left: 1250px;
  top: 21px;
  background: #ed5050;
  border-radius: 10px;
  border: 0;
}

.lbl-salir {
  position: absolute;
  width: 216px;
  height: 48px;
  left: -35px;
  top: -24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.contenedor {
  position: absolute;
  width: 700px;
  height: 550px;
  left: 300px;
  top: 159px;
  border: 1px solid black;
  background: #d0cece;
  border: 0;
}

.title {
  position: absolute;
  width: 665px;
  height: 48px;
  left: 20px;
  top: 1px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.lbl-nombre {
  position: absolute;
  width: 95px;
  height: 30px;
  left: 300px;
  top: 80px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

.input-nombre {
  position: absolute;
  width: 200px;
  height: 25px;
  left: 250px;
  top: 110px;

  background: #ffffff;
  border-radius: 10px;
  border: 0;
}

.lbl-apellidos {
  position: absolute;
  width: 95px;
  height: 30px;
  left: 290px;
  top: 140px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

.input-apellidos {
  position: absolute;
  width: 200px;
  height: 25px;
  left: 250px;
  top: 170px;

  background: #ffffff;
  border-radius: 10px;
  border: 0;
}



.lbl-contraseña {
  position: absolute;
  width: 95px;
  height: 30px;
  left: 280px;
  top: 200px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

.input-contraseña {
  position: absolute;
  width: 200px;
  height: 25px;
  left: 250px;
  top: 230px;

  background: #ffffff;
  border-radius: 10px;
  border: 0;
}

.lbl-username {
  position: absolute;
  width: 95px;
  height: 30px;
  left: 300px;
  top: 260px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

.input-username {
  position: absolute;
  width: 200px;
  height: 25px;
  left: 250px;
  top: 290px;

  background: #ffffff;
  border-radius: 10px;
  border: 0;
}

.lbl-cuenta {
  position: absolute;
  width: 95px;
  height: 30px;
  left: 300px;
  top: 320px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

.input-cuenta {
  position: absolute;
  width: 200px;
  height: 25px;
  left: 250px;
  top: 350px;

  background: #ffffff;
  border-radius: 10px;
  border: 0;
}

.lbl-nip {
  position: absolute;
  width: 95px;
  height: 30px;
  left: 300px;
  top: 380px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

.input-nip {
  position: absolute;
  width: 200px;
  height: 25px;
  left: 250px;
  top: 410px;
  background: #ffffff;
  border-radius: 10px;
  border: 0;
}

.lbl-estado {
  position: absolute;
  width: 95px;
  height: 30px;
  left: 300px;
  top: 440px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}

.input-estado {
  position: absolute;
  width: 200px;
  height: 25px;
  left: 250px;
  top: 470px;

  background: #ffffff;
  border-radius: 10px;
  border: 0;
}


.btn-guardar {
  position: absolute;
  width: 150px;
  height: 30px;
  left: 280px;
  top: 510px;
  background: #8CBD84;
  border-radius: 10px;
  border: 0;
}

.lbl-boton {
  position: absolute;
  width: 200px;
  height: 36px;
  left: -25px;
  top: -34px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #fffafa;
}
